h1 {
  color: #6D214F;
  font-size: 100px;
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;



}
p {
  text-indent: 100px;
  word-spacing: 5px;
  color: #6D214F;
  margin-top: -20px;
}
ul {
  text-align: justify;
  color: #6D214F;
  margin-top: -20px;
  
}
h2 {
  color: #6D214F; 
  text-transform: uppercase;
}

h5 {
  text-decoration: underline;
}
body {
  font-family: arial;
  background-image: url(../Biografi/vektor1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  
}
.tautan:link{
  color: #6D214F;
}
.tautan:hover {
  font-size: 20px;
}
.tautan {
  margin-left: 600px;
}

}
.tautan:active {
  color: #6D214F;
}
span {
  color: goldenrod;
}

h2 {
  text-align: center;
}
h5 {
  text-align: center;
  color: #6D214F;
}
form {
 text-align: center;
 color: #6D214F;
}
.tautan {
  text-align: center;
}

}
.cm {
  text-align: center;
}
.hobi {
  text-align: center;
}
.paragraf {
  text-align: center;
}
.hobi {
  text-align: center;
}
ul {
  margin-left: 625px;

}
table {
  margin: auto;
  color: #6D214F;
  height: 100px;
  width: 400px;
}
div {
  height: 20px;
  width: 1200px;
  background-color: #6D214F;
  text-align: center;
  margin: auto;
  color: whitesmoke;
}
button {
  color: #6D214F;
}